
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: beige;
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%; 
  margin: 50px auto;
  overflow: hidden;
}


.arrow {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

input[type="radio"] {
  display: none;
}

.container {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease; 
  width: 1300px; 
}

.card {
  flex: 0 0 auto; 
  width: 400px;
  height: 600px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}

.productimage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.details {
  padding: 10px 0;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.4;
}


.button {
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

input#prev:checked ~ .container {
  transform: translateX(+50px); 
}

input#next:checked ~ .container {
  transform: translateX(-780px); 
}
@media screen and (max-width: 768px) {
  .card {
    width: 250px;
  }

  .container {
    width: 500px; 
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    margin-right: 10px;
  }

  .container {
    flex-direction: column;
  }
}
